[Unit]
Description = Infer

[Service]
User=tech
WorkingDirectory = /opt/projects/mvid
EnvironmentFile = /etc/spyspace/openvino_python.env
ExecStart = /usr/bin/python3 /opt/projects/mvid/run_infer.py infer vino_mode=GPU

Restart = always
RestartSec = 10

[Install]
WantedBy = multi-user.target
